@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

main {
    min-height: $calculo-header;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-inline: 2rem;

    @include media-down(md) {
        padding-inline: 0;
        padding-left: 0;
        padding-right: 0;
    }
}