$color-azul-profundo: #1B2A41;
$color-azul-profundo2: #263b5a;
$color-azul-profundo3: #1f2d42;
$color-verde-claro: #A0E8AF;
$color-azul-suave: #4B86B4;
$color-azul-texto: #0d28c2;
$color-gris-claro: #E5E5E5;
$color-dorado-apagado: #D4AF37;
$color-gris-pizarra: #2C3E50;
$color-gris-carbon: #3A3A3A;
$color-negro-azulado: #121E2B;
$color-verde-esmeralda: #3FB984;
$color-azul-vibrante: #2980B9;
$color-naranja-apagado: #E6A157;
$color-celeste-bruma: #B4D8E7;
$color-verde-hielo: #CFF5E7;
$color-marfil-suave: #FAF3E0;
$color-gris-azulado: #A3B5C3;
$color-verde-contraste: #3FB984;
$calculo-header: calc(100vh - 92px);