@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;


.cartasPorPaquete {
    padding: 2rem 0;
    background-color: $color-azul-profundo;

    &-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    &-title {
        text-align: center;
        margin-bottom: 2rem;
        color: $color-dorado-apagado;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include media-down(lg) {
            font-size: 2.3rem;
        }

        @include media-down(xsm) {
            font-size: 1.5rem;
        }
    }

    &-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        padding: 0;

        @include media-down(lg) {
            justify-content: space-evenly;
        }

    }

    &-booster {
        background: $color-azul-profundo2;
        border-radius: 10px;
        overflow: hidden;
        width: 220px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border: 1px solid $color-azul-suave;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
            border-color: $color-dorado-apagado;

            .cartasPorPaquete-img {
                transform: scale(1.05);
            }
        }

        @include media-down(lg) {
            width: 48%;
        }
        @include media-down(md) {
            width: 80%;
        }

        @include media-down(xsm) {
            width: 100%;
        }
    }

    &-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: $color-gris-claro;
        text-decoration: none;

        @include media-down(lg) {
            align-items: center;
        }
    }

    &-img {
        width: 100%;
        object-fit: contain;
        background-color: white;
        padding: .3rem;
        border-bottom: 2px solid $color-dorado-apagado;
        transition: transform 0.3s ease;

        @include media-down(lg) {
            padding: 1.5rem;
        }
    }

    &-info {
        display: block;
        padding-top: .5rem;
        padding: 1rem;
        text-align: center;
        font-size: 0.95rem;
        font-weight: 500;
        color: $color-gris-claro;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;

        @include media-down(lg) {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
            font-size: 1.8rem;
        }

        @include media-down(sm) {
            padding: 0.5rem;
            font-size: 1.8rem;

        }
    }
}

.expansion {
    padding: 2rem 0;
    background-color: $color-azul-profundo;

    @include media-down(lg) {
        margin: 1.5rem;
    }

    @include media-down(sm) {
        margin: 0;
        padding: 0;
    }

    &-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;

        @include media-down(sm) {
            //padding: 0;
        }
    }

    &-title {
        text-align: center;
        margin-bottom: 2rem;
        color: $color-dorado-apagado;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include media-down(lg) {
            font-size: 2.3rem;
        }

        @include media-down(sm) {
            font-size: 1.8rem;
        }
    }

    &-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 0;
    }

    &-card {
        background: $color-azul-profundo2;
        border-radius: 12px;
        overflow: hidden;
        width: 280px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border: 1px solid $color-azul-suave;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
            border-color: $color-dorado-apagado;

            .expansion-img {
                transform: scale(1.03);
            }
        }

        @include media-down(lg) {
            width: 48%;
        }
        @include media-down(md) {
            width: 85%;
        }

        @include media-down(sm) {
            width: 40rem;
        }
    }

    &-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: $color-gris-claro;
    }

    &-img {
        width: 100%;
        height: 180px;
        object-fit: contain;
        background-color: white;
        padding: 1rem;
        border-bottom: 2px solid $color-dorado-apagado;
        transition: transform 0.3s ease;
    }

    &-info {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        gap: 0.8rem;

        b {
            color: $color-verde-claro;
            font-weight: 600;
            background-color: transparent;
            padding: 0;
        }

        @include media-down(sm) {
            width: 100%;
        }
    }

    &-name {
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-verde-claro;

        @include media-down(lg) {
            font-size: 2rem;
        }

        @include media-down(sm) {
            font-size: 1.7rem;
            font-weight: 1000;
            text-align: center;
        }
    }

    &-date {
        font-size: 0.95rem;
        color: $color-gris-azulado;

        @include media-down(lg) {
            font-size: 1.4rem;
        }

        @include media-down(sm) {
            font-size: 1.3rem;
            font-weight: 500;
        }
    }

    &-count {
        font-size: 0.95rem;
        color: $color-gris-azulado;

        @include media-down(lg) {
            font-size: 1.4rem;
        }

        @include media-down(sm) {
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;
        }
    }
}

.rareza {
    padding: 2rem 0;
    background-color: $color-azul-profundo;
    text-align: center;

    &-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    &-tittle {
        text-align: center;
        margin-bottom: 2rem;
        color: $color-dorado-apagado;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include media-down(lg) {
            font-size: 2.3rem;
        }

    }

    &-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        padding: 0;
        margin-top: 2rem;
    }

    &-card {
        background: $color-azul-profundo2;
        border-radius: 10px;
        overflow: hidden;
        width: 200px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border: 1px solid $color-azul-suave;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
            border-color: $color-dorado-apagado;

            .rareza-icon {
                transform: scale(1.1);
            }
        }

        // Aplica brillos y sombras
        // Diamantes/Rombos 
        &:nth-child(-n+4) .rareza-icon {
            filter: brightness(1.2) saturate(1.5);
        }

        // Estrellas
        &:nth-child(n+5):nth-child(-n+7) .rareza-icon {
            filter: drop-shadow(0 0 4px gold);
        }

        // Corona
        &:nth-child(8) .rareza-icon {
            filter: drop-shadow(0 0 4px $color-dorado-apagado);
        }

        // Arcoiris
        &:nth-child(n+9) .rareza-icon {
            filter: drop-shadow(0 0 4px rgba(255, 0, 255, 0.7));
            animation: rainbow-pulse 2s infinite alternate;
        }

        @include media-down(lg) {
            width: 31.5%;
        }
        @include media-down(md) {
            width: 80%;
        }
        @include media-down(sm) {
            width: 100%;
        }
    }

    &-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: $color-gris-claro;
        padding: 1.5rem 1rem;

        @include media-down(sm) {
            padding: 0;
        }
    }

    &-icons {
        display: flex;
        justify-content: center;
        gap: 0.3rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }

    &-icon {
        width: 30px;
        height: 30px;
        object-fit: contain;
        transition: transform 0.3s ease;

        @include media-down(lg) {
            width: 18%;
            height: auto;
        }
    }

    &-label {
        display: block;
        text-align: center;
        font-size: 0.95rem;
        line-height: 1.4;
        color: $color-gris-claro;
        margin-top: auto;

        @include media-down(lg) {
            font-size: 1.5rem;
        }
        @include media-down(sm) {
            font-size: 1.2rem;
        }
    }
}

@keyframes rainbow-pulse {
    0% {
        filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.7));
    }

    16% {
        filter: drop-shadow(0 0 4px rgba(255, 165, 0, 0.7));
    }

    33% {
        filter: drop-shadow(0 0 4px rgba(255, 255, 0, 0.7));
    }

    50% {
        filter: drop-shadow(0 0 4px rgba(0, 128, 0, 0.7));
    }

    66% {
        filter: drop-shadow(0 0 4px rgba(0, 0, 255, 0.7));
    }

    83% {
        filter: drop-shadow(0 0 4px rgba(75, 0, 130, 0.7));
    }

    100% {
        filter: drop-shadow(0 0 4px rgba(238, 130, 238, 0.7));
    }
}