@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.main-coleccion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;

}

.set {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background: $color-azul-profundo2;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid $color-azul-suave;
    transition: all 0.3s ease;

    @include media-down(lg) {
        width: 95%;
    }

    


    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        border-color: $color-dorado-apagado;
    }

    &-image {
        width: 250px;
        object-fit: contain;
        border-right: 2px solid $color-dorado-apagado;

        @include media-down(lg) {
            width: 300px;
        }
    }

    &-info {
        flex: 1;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-title {
        color: $color-verde-claro;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;

        @include media-down(lg) {
            font-size: 2.3rem;
        }
    }

    &-description {
        color: $color-gris-claro;
        font-size: 1.1rem;
        line-height: 1.6;
        margin: 0;
        text-align: center;
        font-weight: 700;

        @include media-down(lg) {
            font-size: 1.5rem;
        }
    }
}

.card {
    &-grid {
        &-section {
            width: 80%;
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 20px;

            @include media-down(lg) {
                width: 95%;
            }
            @include media-down(xsm) {
               margin:0;
            }
        }

        &-title {
            text-align: center;
            margin-bottom: 2rem;
            color: $color-dorado-apagado;
            font-size: 2.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        &-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 0.5rem;
            padding: 0;
            margin: 0 auto;
            max-width: 1400px;
        }
    }

    &-item {
        position: relative;
        background: $color-azul-profundo2;
        border-radius: 12px;
        overflow: hidden;
        transition: all 0.3s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        border: 2px solid $color-azul-suave;

        &:hover {
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
            border-color: $color-dorado-apagado;
        }

        &:hover .card-image {
            transform: scale(1.05) translateY(-5px);
            background-color: $color-gris-azulado;
        }

        // Efecto de brillo al pasar el mouse 
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(circle at var(--x) var(--y),
                    rgba(255, 255, 255, 0.15) 0%,
                    transparent 70%);
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s;
            border-radius: 10px;
        }

        &:hover::after {
            opacity: 1;
        }

        /* Efecto de borde dorado */
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid transparent;
            border-radius: 10px;
            pointer-events: none;
            transition: border-color 0.3s;
        }

        &:hover::before {
            border-color: $color-dorado-apagado;
        }
    }

    &-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: inherit;
        padding: 0.2rem;
    }

    &-image {
        width: 100%;
        //height: 280px;
        object-fit: contain;
        padding: 1rem;
        background-color: white;
        border-bottom: 2px solid $color-azul-suave;
        transition: transform 0.3s ease;
    }

    &-text {
        padding-left: .5rem;
        padding-bottom: .5rem;
    }

    &-name {
        text-align: left;
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: 0.5rem;
        color: #9a9693;

        @include media-down(lg) {
            font-size: 2rem;
        }
    }

    &-expansion {
        text-align: left;
        font-size: 0.9rem;
        margin: 0.2rem 0;
        color: #9a9693;
        font-style: italic;

        @include media-down(lg) {
            font-size: 1.5rem;
        }
    }

    &-number {
        text-align: left;
        font-size: 0.9rem;
        margin: 0.2rem 0;
        color: #9a9693;
        font-style: italic;

        @include media-down(lg) {
            font-size: 1.5rem;
        }
    }

    &-rareza {
        &-container {
            display: flex;
            justify-content: left;
        }

        &-icon {
            width: 20px;
            height: auto;

            @include media-down(lg) {
                width: 40px;
            }
        }
    }
}