@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.articulo-guia {
    background: linear-gradient(135deg,
            $color-azul-profundo3 0%,
            $color-celeste-bruma 90%,
            $color-azul-profundo2 100%);
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 1000px;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 1px solid $color-azul-profundo3;

    h2 {
        text-align: center;
        padding: 1rem;
    }

    h3 {
        text-align: center;
        padding: 1rem;
    }

    p {
        text-align: justify;
        padding: 1rem;
    }

    b {
        color: $color-azul-texto;
        background-color: $color-verde-claro;
    }

    ul {
        padding-left: 20px;

        li {
            padding: 12px 20px;
            color: $color-gris-claro;
            font-size: 1.1rem;
            border-bottom: 1px solid $color-azul-profundo2;
            transition: background 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $color-azul-suave;
                color: $color-azul-texto;
                cursor: pointer;
            }

            &::before {
                content: "•";
                color: $color-dorado-apagado;
                font-size: 1.2rem;
                margin-right: 10px;
            }
        }
    }

    .video-wrapper {
        padding: 1rem;
        padding-top: 2rem;
    }
}


@include media-down(lg) {
    .articulo {
        &-guia {
            padding: 1rem;
            width: 100%;

            h2 {
                font-size: 2.5rem;
            }

            h3 {
                font-size: 2.3rem;
            }

            p {
                font-size: 1.5rem;
            }

            ul {
                li {
                    font-size: 1.5rem;
                    &::before {
                        content: "⭐";
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}