// BASE
@use "./base/reset";
@use "./base/typography";

// ABSTRACTS
@use "./abstracts/variables" as *;
@use "./abstracts/breakpoints" as *;

// LAYOUT
@use "./layout/body";
@use "./layout/main";
@use "./layout/header";
@use "./layout/footer";

// PAGES
@use "./pages/index";
@use "./pages/sets";
@use "./pages/guias";
@use "./pages/barajas";
@use "./pages/coleccion";

//COMPONENT
@use "./components/subrayado";



h2 {
    color: $color-dorado-apagado;
}

a:hover {
    color: $color-verde-claro;
}

button {
    background-color: $color-verde-claro;
    color: $color-azul-profundo;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

button:hover {
    background-color: $color-dorado-apagado;
    color: white;
}
