// BASE
@use "./base/reset";
@use "./base/typography";

// ABSTRACTS
@use "./abstracts/variables" as *;
@use "./abstracts/breakpoints" as *;

// LAYOUT
@use "./layout/body";
@use "./layout/main";
@use "./layout/header";
@use "./layout/footer";

// PAGES
@use "./pages/index";
@use "./pages/sets";
@use "./pages/guias";
@use "./pages/barajas";
@use "./pages/coleccion";

//COMPONENT
@use "./components/subrayado";



h2 {
    color: $color-dorado-apagado;
}

a:hover {
    color: $color-verde-claro;
}

button {
    background-color: $color-verde-claro;
    color: $color-azul-profundo;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

button:hover {
    background-color: $color-dorado-apagado;
    color: white;
}



/* ========== SM - Hasta 767px ========== */
@media (max-width: 768px) {

    /*Index*/
    .baner {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .banerIzquierda h1 {
        font-size: 1.5rem;
    }

    .guias {
        padding-top: 2rem;
    }

    .card-guia h3 {
        font-size: 1.2rem;
    }

    .testimoniales {
        padding: 2rem 1rem;
    }

    .contenedor-cards article {
        max-width: 70%;
    }

    footer {
        align-items: center;
    }

    .footer-top {
        justify-content: center;
    }

    /* guias */

    .articulo-guia {
        width: 100%;
    }

}